<h1>Edit <%= show_user_email(current_user.id) %>'s information </h1>

<%= form_for(current_user) do |form| %>
<div class="d-flex">
  <button type="button" class="btn btn-secondary">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </button>

  <button type="button" class="btn btn-secondary">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </button>

  <button type="button" class="btn btn-secondary">
    <%= form.submit %>
  </button>
</div>
<% end %>
