<h2 class="header p-2">Sign Up</h2>

<%= form_for(@user, :html => {:class => 'header bg-light'}) do |form| %>
  <button type="button" class="btn btn-secondary">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </button>

  <div class="field">
    <button type="button" class="btn btn-secondary">
      <%= form.label :password %><br />
      <%= form.password_field :password, autocomplete: "current-password" %>
    </button>
  </div>
  <div class="actions">
  <button type="button" class="btn">
    <%= form.submit "Log in" %>
  </button>
  </div>

<% end %>


