<h1>Sign Up</h1>

<%= form_for(@user) do |form| %>
  <div class="d-flex">
  <button type="button" class="btn btn-secondary">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </button>

  <button type="button" class="btn btn-secondary">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </button>

  <button type="button" class="btn btn-secondary">
    <%= form.submit %>
  </button>
</div>
<% end %>
