<% @created_events = Event.where('creator_id = ?', current_user.id) %>
<% @created_events.each do |event|%>
  <li><%= event.title %></li></br>
  <li><%= event.date %></li></br>
  <li><%= event.location %></li></br>
  <%= show_event(event) %>
  <%= show_edit_event(event) %>
  <%= show_destroy_event(event) %>
<% end %>

