
<h1 class="header">Events</h1>
<h3>This user created the following events</h3>
<%= render partial: "listeventscreated", locals: { event: @events } %>

<h3>All events</h3>

<%= render partial: "listevents", locals: { event: @events } %>

<h3>Past events</h3>

<% @past_events.each do |event| %>
  <%= event.title %><br>
  <%= event.date %><br>
  <p>Created by: <%= show_user_email(event.creator_id)  %> </p>
<% end %>

<h3>Future events</h3>

<% @upcoming_events.each do |event| %>
  <%= event.title %><br>
  <%= event.date %><br>
  <p>Created by: <%= show_user_email(event.creator_id)  %> </p>
  <%= show_event(event) %><br>

<% end %>

<br>

