<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <div class="header">
  <nav class="navbar navbar-light bg-secondary">
  <% if signed_in? %>
  <button type="button" class="btn btn-secondary"><%= show_create_event_link %></button>
  <button type="button" class="btn btn-secondary"><%= show_attend_event_link %></button>
  <button type="button" class="btn btn-secondary"><%= show_events_link %></button>
  <button type="button" class="btn btn-secondary"><%= show_users_link %></button>
  <button type="button" class="btn btn-secondary"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></button>
  <% else %>
    <button type="button" class="btn btn-secondary"><%= link_to 'Sign in', new_user_session_url %></button>
    <button type="button" class="btn btn-secondary"><%= link_to "Sign Up", new_user_path %></button>
  <% end %>
  </nav>
</div>
  <div class="navbar-light bg-secondary header">
    <p class="p-2"> Logged in as  <%= link_to(show_email_if_logged_in(current_user), current_user) %></p>
  </div>
    <%= yield %>
  </body>
</html>
